<li>
  <%= content_type.name %>
  <%= link_to 'Show', content_type %> |
  <%= link_to 'Edit', edit_content_type_path(content_type) %> |
  <%= link_to 'Delete', content_type, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% if content_type.active? %>
    <%= button_to 'Publish', publish_content_type_path(content_type), method: :patch %>
  <% elsif content_type.published? %>
    <%= button_to 'Unpublish', unpublish_content_type_path(content_type), method: :patch %>
  <% end %>

  <% if sub_content_types.present? %>
    <ul>
      <%= render_content_type_tree(sub_content_types) %>
    </ul>
  <% end %>
</li>
