<div class="mx-4 my-8 sm:px-6 lg:px-8 border border-2">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Content Type</h1>
      <p class="mt-2 text-sm text-gray-700">A list of all the Contents in your app including their name, description.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <button type="button" class="block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Add user</button>
    </div>
  </div>
  <div class="-mx-4 mt-8 sm:-mx-0">
    <table class="min-w-full divide-y divide-gray-300">
      <thead>
        <tr>
          <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
          <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Title</th>
          
          <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
             <%= link_to 'Edit', edit_content_type_path(@content_type), class:"sr-only" %> 
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 bg-white">
        <% @content_type.each do |parent, children| %>
          <tr class=" border-solid">
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
              <p class="mx-0 lg:mx-4"><%= parent.name %></p>
            </td>
            <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
              <%= parent.description %>
            </td>
            <td class="whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
              <a href="<%= edit_content_type_path(parent) %>" class="mx-0 lg:mx-4 text-indigo-600 hover:text-indigo-900">Edit<span class="sr-only">, <%= parent.name %></span></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>