<h1>Content Type Details</h1>

<p>
  <strong>Name:</strong>
  <%= @content_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @content_type.description %>
</p>

<p>
  <strong>Parent Content Type:</strong>
  <%= @content_type.parent ? @content_type.parent.name : 'None' %>
</p>

<p>
  <strong>State:</strong>
  <%= @content_type.state %>
</p>

<%= link_to 'Edit', edit_content_type_path(@content_type) %> |
<%= link_to 'Back', content_types_path %> |
<%= link_to 'Delete', @content_type, method: :delete, data: { confirm: 'Are you sure?' } %>

<% if @content_type.active? %>
  <%= button_to 'Publish', publish_content_type_path(@content_type), method: :patch %>
<% elsif @content_type.published? %>
  <%= button_to 'Unpublish', unpublish_content_type_path(@content_type), method: :patch %>
<% end %>