  <h1 class="card__header">Welcome</h1>
  <% if user_signed_in? %>
    <p>
      Logged in as: <%= current_user.email %>
    </p>

    <p>
      public uid: <%= current_user.public_uid %>
    </p>

    <p>
      <%= link_to 'Edit Profile', edit_user_registration_path %> |
      <%= link_to 'Change Password', edit_user_registration_path(anchor: 'password') %> |
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    </p>
      <p><%= link_to 'Create Content',  new_content_type_path %></p>

    <% if current_user.is_a?(Author) %>
      <p><%= link_to 'Create Book',  new_book_path %></p>
    <% end %>

    <% if current_user.has_role? :admin %>
      <p> <%= link_to 'Admin Page',  admin_users_path %> </p>
    <% end %>

  <% else %>
    <p>
      <%= link_to 'Sign up', new_user_registration_path, class: "custom__btn" %> or
      <%= link_to 'Log in', new_user_session_path,  class: "custom__btn" %>
    </p>
  <% end %>
