<div id="<%= dom_id section %>">
  <p>
    <strong>Title:</strong>
    <%= section.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= section.description %>
  </p>

  <p>
    <strong>Public uid:</strong>
    <%= section.public_uid %>
  </p>

  <p>
    <strong>State:</strong>
    <%= section.state %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= section.ancestry %>
  </p>

</div>
