<%= turbo_stream_from "books" %>

<div class="mx-4 my-8 sm:px-6 lg:px-8 border border-2">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Content Type</h1>
      <div data-controller="hello">
        Stimulus is now connected!
      </div>
      <p class="mt-2 text-sm text-gray-700">A list of all the Contents in your app including their name, description.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <div data-controller="hello" data-hello-name="Rails Developer">
        <button data-action="click->hello#greet">Greet</button>
        <span data-hello-target="output" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="-mx-4 mt-8 sm:-mx-0">
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Author</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Publication Year</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <%= turbo_frame_tag "books" do %>
              <tbody class="divide-y divide-gray-200">
                  <%= render(BookTableDataComponent.with_collection(@books)) %>
              </tbody>
              <% end %>
            </table>
          </div>
        </div>
      </div>
  </div>
</div>

<%# form %>
<%# gawing viewcomponent %>
<%= turbo_frame_tag 'book_form' do %>
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
      <% if @book.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @book.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model: @book) do |form| %>
        <div>
          <%= form.label :title, class:"block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= form.text_field :title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <%= form.label :author, class: "block text-sm font-medium leading-6 text-gray-900" %>          
          </div>
          <div class="mt-2">
            <%= form.text_field :author, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div>
          <div class="flex items-center justify-between">
            <%= form.label :publication_year, class:"block text-sm font-medium leading-6 text-gray-900" %>         
          </div>
          <div class="mt-2">
            <%= form.number_field :publication_year, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
          </div>
        </div>

        <div class="mt-4">
          <%= form.submit :submit, class: "flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>