<%= turbo_stream_from "books" %>

<div class="mx-4 my-8 sm:px-6 lg:px-8 border border-2">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Content Type</h1>
      <div data-controller="hello">
        Stimulus is now connected!
      </div>
      <p class="mt-2 text-sm text-gray-700">A list of all the Contents in your app including their name, description.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <div data-controller="hello" data-hello-name="Rails Developer">
        <button data-action="click->hello#greet">Greet</button>
        <span data-hello-target="output" class="text-danger"></span>
      </div>
    </div>
  </div>
  <div class="-mx-4 mt-8 sm:-mx-0">
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <%= render TurboFrameComponent.new(id: "book_table") do %>
            <table class="min-w-full divide-y divide-gray-300">
              <thead>
                <tr>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Author</th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Publication Year</th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200">
                    <%= render(BookTableDataComponent.with_collection(@books)) %>
              </tbody>
            </table>
         <% end %>
          </div>
        </div>
      </div>
  </div>
</div>

<%# form %>
<%# gawing viewcomponent %>
<%= render TurboFrameComponent.new(id: "book_form") do %>
  <%= render BookFormComponent.new(book: @book) %>
<% end %>