<div id="<%= dom_id subject %>">
  <p>
    <strong>Title:</strong>
    <%= subject.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subject.description %>
  </p>

  <p>
    <strong>Public uid:</strong>
    <%= subject.public_uid %>
  </p>

  <p>
    <strong>State:</strong>
    <%= subject.state %>
  </p>

  <p>
    <strong>Ancestry:</strong>
    <%= subject.ancestry %>
  </p>

</div>
