<h1>All Users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Admin</th>
    <th>Actions</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.has_role? :admin %></td>
      <td>
        <%= form_with model: [:admin, user], local: true do |f| %>
          <%= f.hidden_field :admin, value: (current_user.has_role?(:admin) ? "true" : "false") %>
          <%= f.submit user.has_role? :admin ? "Revoke Admin" : "Make Admin" %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to "Back", root_path %>